@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 192 100% 5%;
		--foreground: 44 87% 94%;
		--card: 192 100% 7%;
		--card-foreground: 44 87% 94%;
		--popover: 192 100% 7%;
		--popover-foreground: 44 87% 94%;
		--primary: 198 100% 40%;
		--primary-foreground: 192 100% 10%;
		--secondary: 192 100% 15%;
		--secondary-foreground: 198 100% 40%;
		--muted: 192 100% 12%;
		--muted-foreground: 44 60% 70%;
		--accent: 168 100% 40%;
		--accent-foreground: 192 100% 10%;
		--destructive: 1 71% 52%;
		--destructive-foreground: 44 87% 98%;
		--border: 192 100% 15%;
		--input: 192 100% 15%;
		--ring: 198 100% 40%;
		--chart-1: 198 100% 40%;
		--chart-2: 168 100% 40%;
		--chart-3: 45 100% 45%;
		--chart-4: 18 80% 55%;
		--chart-5: 344 85% 55%;
		--radius: 0.3em;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	h1 {
		@apply text-2xl;
	}
}

@layer components {
	.entry {
		@apply whitespace-pre-line rounded-lg border-2 border-border bg-background p-4;

		white-space: pre-wrap;       /* Since CSS 2.1 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
}
